<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div class = "container py-4">
<head>
    <title> Object Details </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>

<body>
    <header th:insert="blocks/header :: header"> </header>

    <section class="py-5 text-center container">
        <div th:each="el : ${objects}" class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h2 th:text="${el.getObject}"  class="fw-light"> Object</h2>
                <p class="lead text-body-secondary">Здесь представленны разделы исполнительной документации к объекту строительства. Вы можете создать новый раздел, или воспользоваться шаблоном.</p>
                <p>
                    <a th:href="'/objectOfBuilder/'+${objects.id} +'/documentationSectionsAdd'" class="btn btn-primary my-2">New section</a>
                    <a href="#" class="btn btn-secondary my-2">Select section (#)</a>
                </p>
            </div>
        </div>
    </section>

    <div   class="album py-5 bg-body-tertiary">
        <div  class="container">
            <div  class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div th:each="el : ${listDocSection}" class="col">
                    <div  class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text th:text="${el.getNameOfSection}" x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div  class="card-body">
                            <p class="card-text">Описание раздела исполнительной документации</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a th:href="'/objectOfBuilder/'+${el.getObjectOfBuilder.getId}+'/documentationSections/'+${el.id}" class="btn btn-sm btn-outline-secondary" >View</a>
                                    <a th:href="'/objectOfBuilder/'+${el.getObjectOfBuilder.getId}+'/documentationSections/'+${el.id}+'/sectionEdit'" class="btn btn-sm btn-outline-secondary" > Edit</a>
                                    <form th:action="'/objectOfBuilder/'+${el.getObjectOfBuilder.getId}+'/documentationSections/'+${el.id}+'/remove'" method="post">
                                        <button type="submit" class="btn btn-sm btn-outline-secondary" >Delete</button>
                                    </form>
                                </div>
                                <small class="text-body-secondary">#</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div th:insert="blocks/footer :: footer"> </div>
    </footer>
</body>
</div>
</html>